{% extends 'pages/base.html' %}
{% load static %}
{% block links %}
<li class="nav-item"><a href="{% url 'pages:homepage' %}" class="nav-link">Home</a></li>
<li class="nav-item"><a href="{% url 'pages:about-us' %}" class="nav-link active">About Us</a></li>
<li class="nav-item"><a href="{% url 'pages:service' %}" class="nav-link">Services</a></li>
<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
<li class="nav-item"><a href="{% url 'pages:contact' %}" class="nav-link">Contact</a></li>
{% endblock links %}
{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider slider-h-85">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/about.jpg' %}" class="full-image" data-mask="90">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">About Us</h1>
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="get" class="section-5 odd hero pt-5">
    <div class="swiper-container no-slider animation slider-h-80 swiper-container-initialized swiper-container-horizontal">
        
        <div class="col-md-12">
            <div class="container">
                <div class="left">
                    <h2 class="">Our Story</h2>
                    <p class="description">
                        Rapid changes in technology are shaping the way people live, work and play. This shifting landscape makes it essential for brands to develop an effective and integrated marketing strategy that aligns a single perspective – the brand promise across all platforms, modes, and channels.
                        <br><br>
                        We tell the story of your business, brand, or ethos by creating meaningful and relevant experiences with your consumers. We start by sitting down with you to understand the objective of your campaign and we then help you achieve this by providing creative, exciting and ‘spot on solutions. 
                    </p>
                    
                    <blockquote>Count on us for your next project.</blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="get" class="section-3 hero odd p-0">
    <div class="swiper-container no-slider animation slider-h-65 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1680px;">

                <video class="full-image" data-mask="80" playsinline="" autoplay="" muted="" loop="">
                    <source src="{% static 'assets/video/colors.mp4' %}" type="video/mp4">
                </video> 
                <!-- 
                    Suggestion: Add a video to your assets folder and configure it here.

                    <video type="video/mp4" class="full-image" data-mask="70" src="assets/videos/yourvideo.mp4" autoplay muted loop></video> 
                -->

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="center align-self-center text-center">
                            <h2 data-aos="zoom-out-up" data-aos-delay="400" class="aos-init aos-animate">OUR EXPERIENCE & AFFILIATES</h2>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto aos-init aos-animate">With a combined experience of 50+ years in marketing, our team has worked with some of the biggest local and international brands.</p>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto aos-init aos-animate">We are affiliated to A1 Outdoor, which is the market leader in outdoor advertising in Tanzania with footprint in Kenya and Zambia. A1 Outdoor has nearly three decades in the outdoor advertising industry and is fuelled by our passion and commitment to excellence. 
                            </p>
                            <!-- <a href="http://" target="_blank" rel="noopener noreferrer"></a> -->
                            <!-- <a href="https://a1outdoor.co.tz/" target="_blank" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button aos-init aos-animate"><i class="icon-rocket"></i>VISIT A1 OUTDOOR</a> -->
                            <a href="https://a1outdoor.co.tz" target="_blank" rel="noopener noreferrer" class="ml-auto mr-auto mt-5 btn primary-button aos-init aos-animate"><i class="icon-rocket"></i>VISIT A1 OUTDOOR</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

<section id="team" class="section-3 odd carousel featured">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2>Meet the team</h2>
                    <p class="description">Our team will help you define a stand-out creative direction and will translate it into visual assets that will resonate with your audience.</p>
                </div>
            </div>
            <div class="swiper-container mid-slider-simple items swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide slide-center text-center item swiper-slide-active" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team/gerald.jpg' %}" alt="Gerald Odhiambo" class="person">
                                <h4>Gerald Odhiambo</h4>
                                <h6>Business Development Director</h6>
                                <p>With an experience of 10+ years, he has unique marketing insights and sector knowledge from advertising, experiential marketing and digital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item swiper-slide-next" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team/brenda.jpg' %}" alt="Brenda Msutze" class="person">
                                <h4>Brenda Msutze</h4>
                                <h6>Client Service Manager</h6>
                                <p>She has a creative mind and a zest for marketing, as well as a passion for understanding the complexity of the human mind.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team/silvy.jpg' %}" alt="Sylvia Batamula" class="person">
                                <h4>Sylvia Batamula</h4>
                                <h6>Account Manager</h6>
                                <p>Young and enthusiastic, she brings to A1 Activation her passion for understanding trends and commitment to deliver.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team/rama.jpg' %}" alt="Ramadhan Mbalamwezi" class="person">
                                <h4>Ramadhan Mbalamwezi</h4>
                               <h6>Operations Manager</h6>
                                <p>He has over 8 years of experience in operations; coordinating, planning and managing the execution of multiple projects simultaneously.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team/pros.jpg' %}" alt="Ramadhan Mbalamwezi" class="person">
                                <h4>Proscovia George</h4>
                               <h6>Account Executive</h6>
                                <p>She is very attentive to detail and always searches for methods of improvement . She does not shy away from field work and has a hands on approach to monitoring projects .</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team/amani.jpg' %}" alt="Ramadhan Mbalamwezi" class="person">
                                <h4>Amani Nelson</h4>
                                <h6>Art Director</h6>
                                <p>He has over 3 years of experience across all design disciplines. Advanced knowledge of developing ideas,3d animation,illustration and still design.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </div>
</section>
{% endblock content %}