{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider slider-h-50">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/bg-5.jpg' %}" class="full-image" data-mask="90">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">About Us</h1>
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="get" class="section-5 odd hero p-0">
    <div class="swiper-container no-slider animation slider-h-100 swiper-container-initialized swiper-container-horizontal">
        
        <div class="col-12 d-flex inner">
            <div class="left align-self-center text-center text-md-left init">
                <h2 class="super effect-static-text">Our Story</h2>
                <p class="description">
                    We ensure we go that extra mile to deliver excellence and
                    perfection in every brand that we touch.
                    We provide a number of services to help plan everything from start to finish and take the stress
                    away from you. This is what we do all day everyday and our expertise, knowledge, and combined
                    experience of over 50 years in the marketing industry will shine through in the way we work with you
                    personally and professionally.
                </p>
                <p class="description">Our work is recognized by all our customers. We guarantee an excellent quality
                    service in every way.</p>
                <p class="description">
                </p>
                <blockquote>Count on us for your next project.</blockquote>
                <p></p>
                <a href="#contact" class="smooth-anchor ml-auto mr-auto ml-md-0 mt-4 btn primary-button">GET IN
                    TOUCH</a>
            </div>
        </div>
    </div>
</section>
<section class="section-1 odd core-values">
    
        <div class="container">
            <div class="row intro">
                <div class="col-12 text-center">
                    <h2 class="alt">Core Values</h2>
                    <p>Get to know a little of our history and the road we traveled that took us to the level we are today.</p>
            </div>
            </div>

            <div class="row">
            <div class="col-12 col-md-6 pl-md-5 align-self-center text-center text-md-left">
                <div class="row items">
                    <div class="col-12 p-0">
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-center">
                                <i class="secondary-color icon icon-trophy"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-center">
                                <h4>Tradition</h4>
                                <p>We are excellence in developing web solutions for companies.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-center">
                                <i class="secondary-color icon icon-diamond"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-center">
                                <h4>Innovation</h4>
                                <p>We seek to build something that changes people's lives.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-center">
                                <i class="secondary-color icon icon-diamond"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-center">
                                <h4>Innovation</h4>
                                <p>We seek to build something that changes people's lives.</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pl-md-5 align-self-center text-center text-md-left">
                <div class="row items">
                    <div class="col-12 p-0">
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-center">
                                <i class="secondary-color icon icon-trophy"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-center">
                                <h4>Tradition</h4>
                                <p>We are excellence in developing web solutions for companies.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-center">
                                <i class="secondary-color icon icon-diamond"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-center">
                                <h4>Innovation</h4>
                                <p>We seek to build something that changes people's lives.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-center">
                                <i class="secondary-color icon icon-diamond"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-center">
                                <h4>Innovation</h4>
                                <p>We seek to build something that changes people's lives.</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="section-5 odd carousel">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2>Team of Experts</h2>
                    <p class="text-max-800">Our team will help you define a stand-out creative direction and will translate it into visual assets that will resonate with your audience.</p>
                </div>
            </div>
            <div class="swiper-container mid-slider-simple items swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide slide-center text-center item swiper-slide-active" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team-1.jpg' %}" alt="Gerald Odhiambo" class="person">
                                <h4>Gerald Odhiambo</h4>
                                <p>Business Development Director</p>
                                <ul class="navbar-nav social share-list ml-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item swiper-slide-next" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team-2.jpg' %}" alt="Brenda Msutze" class="person">
                                <h4>Brenda Msutze</h4>
                                <p>Client Service Manager</p>
                                <ul class="navbar-nav social share-list ml-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team-3.jpg' %}" alt="Sylvia Batamula" class="person">
                                <h4>Sylvia Batamula</h4>
                                <p>HUMAN RESOURCES</p>
                                <ul class="navbar-nav social share-list ml-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center text-center item" style="width: 360px; margin-right: 30px;">
                        <div class="row card">
                            <div class="col-12">
                                <img src="{% static 'assets/images/team-4.jpg' %}" alt="Ramadhan Mbalamwezi" class="person">
                                <h4>Ramadhan Mbalamwezi</h4>
                                <p>Operations Manager</p>
                                <ul class="navbar-nav social share-list ml-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </div>
</section>
{% endblock content %}