{% extends 'pages/base.html' %}
{% load static %}
{% block links %}
<li class="nav-item"><a href="{% url 'pages:homepage' %}" class="nav-link active">Home</a></li>
<li class="nav-item"><a href="{% url 'pages:about-us' %}" class="nav-link">About Us</a></li>
<li class="nav-item"><a href="{% url 'pages:service' %}" class="nav-link">Services</a></li>
<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
<li class="nav-item"><a href="{% url 'pages:contact' %}" class="nav-link">Contact</a></li>
{% endblock links %}

{% block content %}
<!-- Hero -->
<section id="slider" class="hero p-0 odd">
    <div class="swiper-container full-slider animation slider-h-85">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/bg-2.jpg' %}" class="full-image" data-mask="60">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="center align-self-center text-center">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">INNOVATIVE
                            </h1>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto">We provide innovative result-driven solutions which generate compelling moments and form deep and lasting relationships with the right audiences.
                            </p>
                            <!-- <a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200"
                                class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button"><i
                                    class="icon-cup"></i>View Our Work</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item 2 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/bg-1.jpg' %}" class="full-image" data-mask="60">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="center align-self-center text-center">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">INSIGHTFUL
                            </h1>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto">We create immersive audience experiences that ignite the right emotions, delivers honed messages, and stimulates the desired responses. </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item 3 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/bg-3.jpg' %}" class="full-image" data-mask="60">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="center align-self-center text-center">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">INSPIRED
                            </h1>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto">We are passionate about achieving our clients’ missions across multiple activation platforms – from activations, exhibitions, and events to venue management and consultation.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="get" class="section-3 hero odd p-0">
    <div class="swiper-container no-slider animation slider-h-70 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1680px;">
                <img src="{% static 'assets/images/A1-shield.jpg' %}" class="full-image" data-mask="60">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="col-md-8 offset-md-4">
                            <div class="center align-self-center text-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="aos-init aos-animate">About Us</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description aos-init aos-animate">A1 Activation was born out of a desire to create truly engaging, exciting and memorable brand experiences with a strong creative twist. The business was founded following our dream to have a small, bespoke yet passionate and experienced team. <br> <br>
                                    At A1 Activation we ensure we go that extra mile to deliver excellence and perfection in every brand that we touch. We provide several services to help plan everything from start to finish and take the stress away from you.
                                    </p>
                                <!-- <a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button aos-init aos-animate"><i class="icon-rocket"></i>CONTACT US</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

<!-- Services -->
<section id="services" class="section-1 odd offers featured">
    <div class="container">
        <div class="row intro text-center">
            <div class="col-12 align-self-center text-center">
                <h2>Our Services</h2>
                <p class="description">This is what we do all day everyday and our expertise, knowledge, and combined experience of over 50
                    years in the marketing industry will shine through in the way we work with you personally and
                    professionally.</p>
            </div>
        </div>

        <div class="row justify-content-center text-center items">
            <div class="col-12 col-md-6 col-lg-3 item">
                <div class="card featured">
                    <img src="{% static 'assets/images/apple-touch-icon-01.png' %}" alt="" style="width: 70px; margin: auto;">
                    <h4 class="secondary-color">Brand Activation</h4>
                    <p>We design and execute Brand Activations through one-to-one engagements that are specifically designed against your brand objectives and the best identified consumers touch points.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card featured">
                    <img src="{% static 'assets/images/icon-02.svg' %}" alt="" style="width: 70px; margin: auto;">
                    <h4 class="secondary-color">Events Management</h4>
                    <p>We run a variety of events from product launches to Christmas parties to treasure hunts and we love that every event is totally different.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card featured">
                    <img src="{% static 'assets/images/icon-03.svg' %}" alt="" style="width: 70px; margin: auto;">

                    <h4 class="secondary-color">Media & PR</h4>
                    <p>Despite rumors of its decline, journalist relations remains a core PR skill and a critical part of what we deliver as a proud media relations agency.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item">
                <div class="card featured">
                    <img src="{% static 'assets/images/icon-01.svg' %}" alt="" style="width: 70px; margin: auto;">

                    <h4 class="secondary-color">Digital Media</h4>
                    <p>We use a proprietary approach to multi-channel strategy, to optimize media spend fluidly to whichever channels or tactics are driving the highest ROI, with full transparency of the entire process.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fun Facts -->
<section id="funfacts" class="section-3 odd counter funfacts">
    <div class="container">
        <div class="row text-center intro">
            <div class="col-12">
                <h2>How We Do it</h2>
                <p class="description">We start by sitting down with you to understand the objective of
                    your campaign and we then help you achieve this by providing creative, exciting and ‘spot on’ solutions</p>
            </div>
        </div>
        <div data-aos-id="counter" data-aos="fade-up" data-aos-delay="200">
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card featured">
                        <i class="secondary-color icon icon-bulb"></i>
                        <h4 class="secondary-color">Creative activation</h4>
                        <p>We think of engaging methods for our brands to reach out to the target audience</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card featured">
                        <i class="secondary-color icon icon-rocket"></i>
                        <h4 class="secondary-color">Immaculate execution</h4>
                        <p>We ensure high-quality execution of all our activations with optimal use of technology.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card featured">
                        <i class="secondary-color icon icon-chart"></i>
                        <h4 class="secondary-color">Detailed analysis</h4>
                        <p>We monitor the progress of our activities and provide detailed & insightful reports.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-4">
    <div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="icon icon-cup"></i>
            <h4 class="white">Meet <span>Us</span></h4>
            <p>P.O. Box 71035 Dar Es Salaam, <br>
                Mwai Kibaki Road, Msonge Street, Plot 281, Mikocheni, Dar Es Salaam</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="icon icon-speech"></i>
            <h4 class="white">Brief <span>Us</span></h4>
            <p><a href="mailto:info@a1activation.co.tz">info@a1activation.co.tz</a></p>
        </div>
        <div class="col-md-4 text-center">
            <i class="icon icon-user"></i>
            <h4 class="white">Join <span>Us</span></h4>
            <p><a href="mailto:hr@a1activation.co.tz">hr@a1activation.co.tz</a></p>
        </div>
    </div>
</div>
</section>

{% endblock content %}