{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider slider-h-75">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/bg-5.jpg' %}" class="full-image" data-mask="90">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Services</h1>
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="get" class="section-1 hero p-0 odd left">
    <div class="swiper-container no-slider animation slider-h-100">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">
                <img data-aos="zoom-out-up" data-aos-delay="800" src="{% static 'assets/images/featured-3.png' %}" class="hero-image" alt="Hero Image">
                <div class="slide-content row"data-mask-768="70">
                    <div class="col-12 d-flex inner">
                        <div class="left align-self-center text-center text-md-left">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text"> Brand Activation</h1>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description">We design and execute Brand Activations through one-to-one engagements that are specifically designed against your brand objectives and the best identified consumers touch points.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="get-2" class="section-2 hero p-0 odd right">
    <div class="swiper-container no-slider animation slider-h-100 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1440px;">
                <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/featured-4.png" class="hero-image-left aos-init aos-animate" alt="Hero Image">

                <div class="slide-content row" data-mask-768="70">
                    <div class="col-12 d-flex justify-content-end inner">
                        <div class="right text-center text-md-right init">
                            <h2 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text aos-init aos-animate">Events <br>Management</h2>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto aos-init aos-animate">We run a variety of events from product launches to Christmas parties to treasure hunts and we love that every event is totally different.</p>
                            <p data-aos="zoom-out-up" data-aos-delay="850" class="description ml-auto aos-init aos-animate">Whatever the event though the ethos is always the same – we design for impact, but we love detail as this is what everyone remembers.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

<!-- Get -->
<section id="get-3" class="section-3 hero p-0 odd left">
    <div class="swiper-container no-slider animation slider-h-100">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">
                <img data-aos="zoom-out-up" data-aos-delay="800" src="{% static 'assets/images/featured-5.png' %}" class="hero-image"
                    alt="Hero Image">
                <div class="slide-content row" data-mask-768="70">
                    <div class="col-12 d-flex inner">
                        <div class="left align-self-center text-center text-md-left">
                            <h2 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Media <br>& PR</h2>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description">Despite rumors of its decline, journalist relations remains a core PR skill and a critical part of what we deliver as a proud media relations agency.</p>
                            <p data-aos="zoom-out-up" data-aos-delay="850" class="description">Whatever the event though the ethos is always the same – we design for impact, but we love detail as this is what everyone remembers.</p></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="get-2" class="section-2 hero p-0 odd right">
    <div class="swiper-container no-slider animation slider-h-100 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1440px;">
                <img data-aos="zoom-out-up" data-aos-delay="800" src="{% static 'assets/images/featured-4.png' %}" class="hero-image-left aos-init aos-animate" alt="Hero Image">

                <div class="slide-content row" data-mask-768="70">
                    <div class="col-12 d-flex justify-content-end inner">
                        <div class="right text-center text-md-right init">
                            <h2 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text aos-init aos-animate"> Digital <br>Media</h2>
                            <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto aos-init aos-animate">we use a proprietary approach to multi-channel strategy, to optimize media spend fluidly to whichever channels or tactics are driving the highest ROI, with full transparency of the entire process.</p>
                            <p data-aos="zoom-out-up" data-aos-delay="850" class="description ml-auto aos-init aos-animate">We provide strategic & tactical solutions and media buying services across digital, social & mobile.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

{% endblock content %}