{% extends 'pages/base.html' %}
{% load static %}
{% block links %}
<li class="nav-item"><a href="{% url 'pages:homepage' %}" class="nav-link">Home</a></li>
<li class="nav-item"><a href="{% url 'pages:about-us' %}" class="nav-link">About Us</a></li>
<li class="nav-item"><a href="{% url 'pages:service' %}" class="nav-link active">Services</a></li>
<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
<li class="nav-item"><a href="{% url 'pages:contact' %}" class="nav-link">Contact</a></li>
{% endblock links %}
{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider slider-h-75">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <img src="{% static 'assets/images/srv.jpg' %}" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Services</h1>
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="get" class="section-3 hero odd p-0">
    <div class="swiper-container no-slider animation slider-h-85 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1680px;">
                <img src="{% static 'assets/images/branding.jpg' %}" class="full-image" data-mask="80">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="col-md-6 offset-md-6">
                            <div class="center align-self-center text-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="aos-init aos-animate">Brand Activation</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description">We design and execute Brand Activations through one-to-one engagements that are specifically designed against your brand objectives and the best identified consumers touch points.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

<section id="get" class="section-3 hero odd p-0">
    <div class="swiper-container no-slider animation slider-h-85 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1680px;">
                <img src="{% static 'assets/images/event.jpg' %}" class="full-image" data-mask="80">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="col-md-6">
                            <div class="center align-self-center text-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="aos-init aos-animate">Events Management</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto aos-init aos-animate">We run a variety of events from product launches to Christmas parties to treasure hunts and we love that every event is totally different.</p>
                                <p data-aos="zoom-out-up" data-aos-delay="850" class="description ml-auto aos-init aos-animate">Whatever the event though the ethos is always the same – we design for impact, but we love detail as this is what everyone remembers.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

<section id="get" class="section-3 hero odd p-0">
    <div class="swiper-container no-slider animation slider-h-85 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1680px;">
                <img src="{% static 'assets/images/pr.jpg' %}" class="full-image" data-mask="80">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="col-md-6 offset-md-6">
                            <div class="center align-self-center text-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="aos-init aos-animate">Media & PR</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description">Despite rumors of its decline, journalist relations remains a core PR skill and a critical part of what we deliver as a proud media relations agency.</p>
                                <p data-aos="zoom-out-up" data-aos-delay="850" class="description">Whatever the event though the ethos is always the same – we design for impact, but we love detail as this is what everyone remembers.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>

<section id="get" class="section-3 hero odd p-0 featured">
    <div class="swiper-container no-slider animation slider-h-85 swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center swiper-slide-active" style="width: 1680px;">
                <img src="{% static 'assets/images/sc.jpg' %}" class="full-image" data-mask="80">

                <div class="slide-content row">
                    <div class="col-12 d-flex inner">
                        <div class="col-md-6">
                            <div class="center align-self-center text-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="aos-init aos-animate">Digital Media</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto aos-init aos-animate">We use a proprietary approach to multi-channel strategy, to optimize media spend fluidly to whichever channels or tactics are driving the highest ROI, with full transparency of the entire process.</p>
                            <p data-aos="zoom-out-up" data-aos-delay="850" class="description ml-auto aos-init aos-animate">We provide strategic & tactical solutions and media buying services across digital, social & mobile.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>
{% endblock content %}