.a1-sec{
    background-color: #29378e !important;
    color: #fff;
}

.a1-pri{
    color:#d72825;
}
.white{
    color: #dbdada;
}
span{
    color:#d72825;
}
.secondary-color{
    color:#2C3791;
}
.secondary-bg{
    background-color: #2C3791 !important;
}